<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oops!</title>
  </head>
  <body>
    <h1>There is something wrong!</h1>
    
    {{> footer}}
  </body>
</html>
